<div class="flight-content" ng-show="flight.selected">
	<div flightclick='removeFlight({{flight}})'><a>remove from searches</a></div>
	<div panel ng-class="{active:flight.in_flight}">
		<h2>Flight Code: {{flight.id}}</h2>
		<h2>Carrier: {{flight.carrier}}</h2>
		<div class='row'>
			<flightdep takeoff="{{flight.depart_airport}}" class='col-md-6'></flightdep>
			<flightdep land='{{flight.arrival_airport}}' class='col-md-6'></flightdep>
		</div>
		<flight-schedule>
			<ul>
				<li ng-repeat='times in flight.scheduleForDay'>{{times.time}}</li>
			</ul>
		</flight-schedule>
		<div class='row'>
		<flight-past class='col-md-6'info='flight.departures' my-title='Departures'></flight-past>
		<flight-past class='col-md-6'info='flight.arrivals' my-title='Arivials'></flight-past>
	<div>
</div>